.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    color: white;
}

.text-container h1 {
    font-size: 28px;
    font-weight: 500;
}

.image-container img {
    max-width: 150px;
    border-radius: 10px;
}
