.container1 {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #555;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    max-width: 100px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    font-size: 14px;
    color: #777;
}

.price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.sale {
    color: #e67e22;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #bbb;
    margin-left: 5px;
}
