{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleMain.css' %}">
{% endblock %}

{% block content %}
	<div class="banner">
          <div class="text-container">
              <h1>Аксессуары для Iphone 13 Pro Max</h1>
          </div>
          <div class="image-container">
              <img src="{% static 'images/iphone.png' %}" alt="iPhone 13 Pro Max">
          </div>
      </div>
    
    <div class="container1">
      <!-- Чехлы Section -->
      <h2>Чехлы</h2>
      <div class="product-grid">
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/22459-iwt 1.png' %}" alt="Стеклянные Чехлы">
              <p>Стеклянные</p>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/mellow-yellow-1 1.png' %}" alt="Силиконовые Чехлы">
              <p>Силиконовые</p>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/Image (7).png'%}" alt="Кожаные Чехлы">
              <p>Кожаные</p>
          </div>
        </a>
      </div>

      <!-- Наушники Section -->
      <h2>Наушники</h2>
      <div class="product-grid">
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/Image (1).png'%}" alt="Apple BYZ S852I">
              <p>Apple BYZ S852I</p>
              <div class="product-info">
                  <span class="rating">4.7</span>
                  <span class="price sale">52$ <span class="old-price">60$</span></span>
              </div>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/Image (2).png'%}" alt="Apple EarPods">
              <p>Apple EarPods</p>
              <div class="product-info">
                  <span class="rating">4.5</span>
                  <span class="price">50$</span>
              </div>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/Image (3).png'%}" alt="Apple EarPods Box">
              <p>Apple EarPods</p>
              <div class="product-info">
                  <span class="rating">4.5</span>
                  <span class="price">30$</span>
              </div>
          </div>
        </a>
      </div>
      <h2>Беспроводные наушники</h2>
      <div class="product-grid">
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/Image (4).png'%}" alt="Apple BYZ S852I">
              <p>Apple BYZ S852I</p>
              <div class="product-info">
                  <span class="rating">4.7</span>
                  <span class="price sale">52$ <span class="old-price">60$</span></span>
              </div>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/Image (5).png'%}" alt="Apple EarPods">
              <p>Apple EarPods</p>
              <div class="product-info">
                  <span class="rating">4.5</span>
                  <span class="price">50$</span>
              </div>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/Image (6).png'%}" alt="Apple EarPods Box">
              <p>Apple EarPods</p>
              <div class="product-info">
                  <span class="rating">4.5</span>
                  <span class="price">30$</span>
              </div>
          </div>
        </a>
      </div>
  </div>
{% endblock %}






