{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleMain.css' %}">
{% endblock %}

{% block content %}
	    <div class="container1">
    <div class="window"><h2>Избранное</h2></div>
      <!-- Наушники Section -->
      <h2>Наушники</h2>
      <div class="product-grid">
        <a href="">
          <div class="product-card">
              <img src="{% static 'images/Image (1).png' %}" alt="Apple BYZ S852I">
              <p>Apple BYZ S852I</p>
              <div class="product-info">
                  <span class="rating">4.7</span>
                  <span class="price sale">52$ <span class="old-price">60$</span></span>
              </div>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static '/images/Image (2).png' %}" alt="Apple EarPods">
              <p>Apple EarPods</p>
              <div class="product-info">
                  <span class="rating">4.5</span>
                  <span class="price">50$</span>
              </div>
          </div>
        </a>
      </div>
      <h2>Беспроводные наушники</h2>
      <div class="product-grid">
        <a href="">
          <div class="product-card">
              <img src="{% static '/images/Image (4).png' %}" alt="Apple BYZ S852I">
              <p>Apple BYZ S852I</p>
              <div class="product-info">
                  <span class="rating">4.7</span>
                  <span class="price sale">52$ <span class="old-price">60$</span></span>
              </div>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static '/images/Image (5).png' %}" alt="Apple EarPods">
              <p>Apple EarPods</p>
              <div class="product-info">
                  <span class="rating">4.5</span>
                  <span class="price">50$</span>
              </div>
          </div>
        </a>
        <a href="">
          <div class="product-card">
              <img src="{% static '/images/Image (6).png' %}" alt="Apple EarPods Box">
              <p>Apple EarPods</p>
              <div class="product-info">
                  <span class="rating">4.5</span>
                  <span class="price">30$</span>
              </div>
          </div>
        </a>
      </div>
  </div>
{% endblock %}
