{% extends 'base.html' %}
{% load static %}

{% block css %}
	    <link rel="stylesheet" href="{% static 'css/shoppingCartStyle.css' %}">
{% endblock %}

{% block content %}
    <main class="mymain">
	 {% if cartItems %}
        <div class="product-grid">
        {% for item in cartItems %}
        <a href="">
            <div class="product-card">
              <img src="{{ item.product.image.url }}" alt="Apple EarPods">
                <p>{{ item.product.name }}</p>
                    <div class="product-info">
                        <span class="rating">4.5</span>
                        <span class="price">{{ item.product.price }}</span>
                     </div>
            </div>
        </a>
        {% endfor %}
        </div>
    {% else %}
    <main class="cart-empty">
        <img src="{% static 'images/Иллюстрация.png' %}" alt="Пустая корзина" class="cart-image">
        <h2>Корзина пуста</h2>
        <p>Но это никогда не поздно исправить :)</p>
        <a href="{% url 'home' %}" class="btn">В каталог товаров</a>
    </main>
    {% endif %}
</main>
    
{% endblock %}

